<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.conference.dao.SchemeMapper" >
  <resultMap id="BaseResultMap" type="com.conference.entity.Scheme" >
    <id column="scheme_id" property="schemeId" jdbcType="INTEGER" />
    <result column="scheme_name" property="schemeName" jdbcType="VARCHAR" />
    <result column="scheme_city" property="schemeCity" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="scheme_duration" property="schemeDuration" jdbcType="INTEGER" />
    <result column="scheme_number" property="schemeNumber" jdbcType="INTEGER" />
    <result column="scheme_budget" property="schemeBudget" jdbcType="REAL" />
    <result column="scheme_check" property="schemeCheck" jdbcType="VARCHAR" />
    
    
    <!-- <association property="user" column="user_id" javaType="User">
    	<id column="user_id" property="userId" jdbcType="INTEGER" />
    	<result column="user_name" property="userName" jdbcType="VARCHAR" />
    	<result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    	<result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    	<result column="user_age" property="userAge" jdbcType="INTEGER" />
    	<result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    </association> -->
  </resultMap>
  
  
  <!-- 新增方案sql -->
  <insert id="insertScheme" parameterType="Scheme"> 
  	insert into hgj_scheme(user_id,admin_id,scheme_name,scheme_city,type_name,scheme_duration,scheme_number,scheme_budget,scheme_check) 
  	values(#{userId},#{adminId},#{schemeName},#{schemeCity},#{typeName},#{schemeDuration},#{schemeNumber},#{schemeBudget},#{schemeCheck})
  </insert>
  
  
  <!-- 根据id删除方案 -->
  <delete id="deleteSchemeById" parameterType="Integer">
  	delete from hgj_scheme where scheme_id = #{schemeId}
  </delete>
  
  <!-- 后台查看所有方案sql -->
  <select id="schemeList" resultMap="BaseResultMap">
  	select scheme_id,user_id,admin_id,scheme_name,scheme_city,type_name,scheme_duration,scheme_number,scheme_budget,scheme_check
  	from hgj_scheme
  </select>
  
  <!-- 个人中心查看方案sql -->
  <select id="findSchemeByUserId" parameterType="Integer" resultMap="BaseResultMap">
  	select scheme_id,scheme_name,scheme_city,type_name,scheme_duration,scheme_number,scheme_budget,scheme_check
  	from hgj_scheme where user_id = #{userId}
  </select>
  
  
  <!-- 根据方案id查询 -->
  <select id="findSchemeById" parameterType="Integer" resultMap="BaseResultMap">
  	select scheme_id,scheme_name,scheme_city,type_name,scheme_duration,scheme_number,scheme_budget,scheme_check
  	from hgj_scheme where scheme_id = #{schemeId}
  </select>
  
  
  <!-- 更新 -->
  <update id="updateScheme" parameterType="Scheme">
  	 update hgj_scheme set scheme_name = #{schemeName}, scheme_city = #{schemeCity},type_name = #{typeName},scheme_duration = #{schemeDuration},scheme_number = #{schemeNumber},scheme_budget = #{schemeBudget}, scheme_check=#{schemeCheck}
  	 where scheme_id = #{schemeId}
  </update>
  
  <!-- 根据id进行后台审核结果更新 -->
  <update id="updateSchemeCheck" parameterType="Scheme">
  	 update hgj_scheme set scheme_check=#{schemeCheck}
  	 where scheme_id = #{schemeId}
  </update>
  
  
  <!-- 根据方案名模糊查询sql -->
  <select id="findBySchemeName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select * from hgj_scheme where scheme_name like '${value}%'
  </select>
  
  
  <!-- 分页查询所有用户  返回数据集-->
  <select id="selectSchemeByPage" parameterType="Map" resultMap="BaseResultMap">
  	select * from hgj_scheme 
  	<if test="start!=null and size!=null">
  		limit #{start},#{size}
  	</if>
  </select>
  
  <!-- 分页查询  返回总记录数-->
  <select id="selectSchemePageCount"  resultType="Integer">
  	select count(1) from hgj_scheme
  </select>
  
  
  <!-- 前台分页查询所有用户  返回数据集-->
  <select id="selectSchemeByPageByUser" parameterType="Map" resultMap="BaseResultMap">
  	select * from hgj_scheme where user_id = #{userId}
  	<if test="start!=null and size!=null">
  		limit #{start},#{size}
  	</if>
  </select>
  
  <!-- 前台分页查询  返回总记录数-->
  <select id="selectSchemePageCountByUser"  resultType="Integer">
  	select count(1) from hgj_scheme where user_id = #{userId}
  </select>
  
   <!--模糊分页查询所有用户  返回数据集-->
  <select id="selectSchemePageByValue" parameterType="Map" resultMap="BaseResultMap">
  	
  	select * from hgj_scheme where scheme_name like concat(concat(#{value},'%')) 
  	<if test="start!=null and size!=null">
  		limit #{start},#{size}
  	</if>
  </select>
  
  <!-- 模糊分页查询  返回总记录数-->
  <select id="selectSchemePageCountByValue" parameterType="java.lang.String" resultType="Integer">
  	select count(1) from hgj_scheme where scheme_name like '${value}%'
  </select>
  
  
</mapper>